@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #E0ECEF;
}

body {
  background-color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
